.idea/
.venv
.env
# Mac
.DS_Store
.claude/
.idea/
backfill_tb_securityfsinfirma.py

#Comentest
backfill_facturas_puntuales.py
# Entorno virtual
.venv/

# Python cache
__pycache__/
*.pyc

# dbt build artifacts
dwh_facturacion_dbt/target/
dwh_facturacion_dbt/dbt_packages/
dwh_facturacion_dbt/logs/
dwh_facturacion_dbt/package-lock.yml